<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Receipe Directory</title>
</head>

<body>

<div class="container">

	<h3>Receipe Details</h3>
	<hr>
	
	
	
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Cook Time</th>
				<th>Description</th>
				<th>Difficulty</th>
				<th>Direction</th>
				<th>PrepTime</th>
				<th>Servings</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="tempPass : ${rlist}">
			
				<td th:text="${tempPass.cooktime}" />	
				<td th:text="${tempPass.description}" />
				<td th:text="${tempPass.difficulty}" />
				<td th:text="${tempPass.direction}" />
				<td th:text="${tempPass.preptime}" />
				<td th:text="${tempPass.servings}" />		
				
			</tr>
		</tbody>		
	</table>
	
	<h3>Ingredient Details</h3>
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Amount</th>
				<th>Description</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="tempPass : ${ilist}">
			
				<td th:text="${tempPass.amount}" />	
				<td th:text="${tempPass.description}" />	
<!-- 			<td th:text="${tempPass.receipe.id}"/>	 -->
				
			</tr>
		</tbody>		
	</table>
	
	<h3>Note Details</h3>
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Receipe Notes</th>
				
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="tempPass : ${nlist}">
			
				<td th:text="${tempPass.receipenotes}" />	
<!-- 				<td th:text="${tempPass.receipeid}" />	 -->
				
				
			</tr>
		</tbody>		
	</table>
</div>
	
</body>
</html>